@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic&family=Gothic+A1&family=Hammersmith+One&family=Josefin+Sans:wght@300&display=swap');

:root {
    --blue:#423EED;
    --grey: #404040;
    --orange: #FFD873;
    --black: #000000;
    --lightgrey: #F6F4EA;
    --bold: 'Hammersmith One', sans-serif;
    --copy:'Gothic A1', sans-serif;
}

#iframe { 
    position: absolute; 
    width: 100%;
    height: 83%;
    top: 10%; 

}

html, body { /* prevent horizontal scroll */
    max-width: 100%;
    overflow-x: hidden;
}

html {
    background-color: var(--lightgrey);
}

.logo > a > img {
    width: 6%;
    height: auto;
    position: fixed;

    /* getting the icon stuck to the bottom so user can use it to go back to the front */
    bottom: 0;
    left:0;
}

.left-nav {
position: fixed;
list-style: none; /* gets rid of the bullet points */
display: inline-block;
padding-top: 15px;

font-family: var(--copy);
font-size: 1.2em;

top: 5%;
writing-mode: sideways-lr; /*for sideways nav*/
}

.left-nav > a { /* making links within nav grey */
    color: var(--grey);
}

.left-nav > a:hover {
    color: var(--blue);
    text-decoration: underline;
}


.middle {
    /* centering text */
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;

    font-family: var(--bold);
    color: var(--blue);
    font-size: 2.5em;
    text-shadow: #cfcfcf 3px 5px 3px;
}

.mid-sub { /* subtitle for the middle text */
    font-family: var(--copy);
    color: var(--grey);
    font-size: 1.2em;

    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    left: 50%;
    top: 65%;
    width: 100%;
    
}

.rectangle {
    width: 100px;
    height: 3px;
    background-color: var(--orange);
    margin-top: 31%;
    margin-left: 40%;
    position: sticky;
  }

.socials {
    text-align: right; /*getting links to the right of the page*/
    position: fixed;
    float: right;
    bottom: 30%;
    right: 1%;

    font-family: var(--copy);
    font-weight: 700;

}

.socials > ul,li,a { /* making socials within nav grey */
    color: var(--grey);
    text-decoration: none;
    list-style-type: none;
}

.socials > ul > li > a:hover {
    color: var(--blue);
}


/* about section */

.heading {
    color: var(--blue);
    font-family: var(--bold);

    left: 80px;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: left;
    top: 10%;
 
}

.text-container {
    align-items: center;
    display: inline-block;

}

.bolder {
    color: var(--blue);
    font-family: var(--bold);
}

/*grid elements formatting*/

.self-img > img {

    width: 60%;
    height: auto;

    justify-content: center;
    padding-left: 150px;
}

.abtme {
    align-content: center;
    padding-right: 40px;
}


/* grid formatting for about page */
.about-grid {

    padding-top: 200px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr;
    gap: 0px 0px;
    grid-template-areas:
        "self-img abtme"
        "    .     .   "

  }
  .self-img { grid-area: self-img; }
  .abtme { grid-area: abtme; }

  /* end of about grid section */

.projects > ul > li > a { /* making links within nav grey */
    color: var(--blue);
    font-weight: 700;
}

.projects > ul > li > a:hover {
    color: var(--grey);
    font-weight: 700;
    
}

.work-img > img {
    width: 40%;
    height: auto;
}



/* coding exercise 1 base */
  
.work-container {
    width: 60%;
    margin: 4% auto 0 auto;
    font-family: var(--copy);

    padding: 10px;
}

#nav {
    padding: 10px;
    justify-items: center;
    border-bottom: var(--grey);
}
  
#nav a {
    color: var(--blue);
    font-family: var(--copy);

    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: 900;
    justify-content: space-evenly;
}
  
#nav a:hover {
    color: var(--orange);
    font-weight: 700;
 }
  
#text {
    background-color: #000000;
    font-size: 12px;
    padding: 5px;
    display: none; 

}

#highlight {
    background-color: var(--orange);
    border-radius: 6px;

    margin-top: 5px;
    margin-left: 5px;

    justify-content: space-evenly;
  }
  
/*end of base */

.video-adjust {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.form-container {
    width: 40%;
    height: auto;
    margin: 4% auto 0 auto;

    display: flex;
    flex-direction: column;
}

.hero-adjust {
    width:70%;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* back to top button */
.back_to_top > a {
    position: fixed;
    right: 2%;
    bottom: 3%;
    color: var(--blue);
}

.back_to_top > a:hover {
    color: var(--grey);
}